<div class="media">
	<div class="media-heading">
		<button class="btn btn-default btn-collapse btn-xs" type="button" data-toggle="collapse"
			data-target="#collapse4" aria-expanded="false" aria-controls="collapseExample">
			<i class="glyphicon glyphicon-chevron-up"></i>
		</button>
		<div class="user-info" style="padding: 5px;">
			<!-- this is where the name of the user goes -->
			<h4><strong style="padding: 2px;"><%= comment.authorName %></strong> </h4>
			<!-- this is where the time goes -->
			<small><%= comment.date %></small>
		</div>
	</div>
	<div class="panel-collapse collapse in" id="collapse4">
		<div class="media-whole">
			<div class="media-body">
				<!-- this is where the comment content goes -->
				<p><%= comment.content %></p>
				<div class="comment-meta">
					<span>
						<a class="" role="button" data-toggle="collapse" href="#replyComment5" aria-expanded="false"
							aria-controls="collapseExample">Reply</a>
					</span>
					<div class="collapse" id="replyComment5">
						<div class="form">
							<form action="/blog/comment/<%=B_id%>" method="POST">
								<input type="hidden" name="commentParentId" value="<%=_id%>">
								<div class="form-group">
									<label for="comment">Your Comment</label>
									<textarea name="content" class="form-control" rows="3"></textarea>
								</div>
								<button type="submit" class="btn btn-default">Send</button>
							</form>
						</div>
					</div>
				</div>
				<!-- this is where all the next comment goes -->
				<% for (child in comment.children) { %>
					<%- include('comment', {comment: child, B_id: B_id}) %>
				<% } %>
			</div>
		</div>
	</div>
</div>