<%- include('partials/header') -%>
    <link rel="stylesheet" href="/css/post.css">
    <div class="container form-container sign-in-container">
        <h1>
            <%= title %>
        </h1>
        <a href="" class="btn"> Edit <i class="fa-solid fa-pencil"></i></a>
        <p>
            <%- problemStatement -%>
        </p>
        <a id="registerBtn" class="btn">See <span class="highlight">Editorial</span></a>
        <div id="registerModal" class="modal animated fadeIn">
            <div class="modal-content">
                <a id="registerBtn2"><i class="fa-solid fa-circle-xmark close"></i></a>
                <div class="modal-form">
                    <h1>Editorial</h1>
                    <p>
                        <%- editorial -%>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/editorial.js"></script>
    <%- include('partials/footer') -%>